include './base.config'

params {
	sce {
		cellQCMetrics {
				useMitochondrialGenes = null // default is false
		}

		filteringEmptyDroplets {
				fdrThreshold = 0.01
				nbUMILowerBound = 100
		}

		filteringThresholds {
				nbMADs = 3
				useMitochondrialGenes = null // default is false
		}
	}
}
